.xis-it-sponsor-section {
	overflow: hidden;
	padding: 50px 0px 130px;
}
.xis-it-sponsor-slider {
	.slick-initialized .slick-slide,
	.xis-it-sponsor-item {
		text-align: center;
	}
	.slick-slide img {
		display: inline-block;
	}
}