/*=========
Font load
===========*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

$body-font: 'Roboto';
$heading: 'Rajdhani';

/*=========
Color Code
===========*/
$body-color: #8b888e;
$base-color: #FFB816;
%gradiant-icon {
  background-image: linear-gradient(90deg, #00d1fb 0%, #ff00fa 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}